MONGODB_URI=mongodb://localhost:27017/releevo
JWT_SECRET=your_jwt_secret_here
PORT=5000

# Clerk Auth Keys
CLERK_PUBLISHABLE_KEY=tu_publishable_key_aqui
CLERK_SECRET_KEY=tu_secret_key_aqui
CLERK_WEBHOOK_SIGNING_SECRET=whsec_tu_webhook_signing_secret_aqui
